# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data and generated outputs
reports/outputs/*
!reports/outputs/
!reports/outputs/.gitkeep
data/processed/*
!data/processed/
!data/processed/.gitkeep

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
